@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}


/* TITRE INFOS DEBUT */
.titre-infos
{
  text-align: center;
}

.titre-infos h3
{
  font-size: 18px;
  margin-bottom: 5px;
}

.titre-infos p
{
  font-size: 13px;
}

.titre-infos p a
{
  color: black;
}
/* TITRE INFOS FIN */


/* MENU DEBUT */
nav .logo a
{
    color: hsl(250,69%,61%);
    font-size: 30px;
    font-weight: 600;
}

nav
{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #FFF;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px 0 100px;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
}

nav ul li a
{
    margin: 0 5px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 2rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active, nav ul li a:hover 
{
    background-color: hsl(250, 69%, 95%);
}

a.cv-latex
{
    color: #FFF;
    background-color: hsl(250,69%,61%);
}

.ligne-fine-menu
{
    background-color: black;
    height: 1px;
    opacity: 0.1;
}

nav .menu-btn i
{
  color: hsl(250,69%,61%);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]
{
  display: none;
}
/* MENU FIN */


/* PROFIL DEBUT */
.profil
{
  margin-top: 20px;
}

.profil .conteneur{
    display: flex;  
    text-align: center;
    justify-content: center;
    padding: 30px 10px 0px 10px;
}

.profil .conteneur .box1
{
  padding-left: 20px;
}

.profil .conteneur .box1
{
  padding-right: 20px;
}

.profil .conteneur .box1 img
{
    width: 200px;
    background-color: hsl(0,0%,86%);
    border-radius: 0.5rem;
    padding: 5px;
}

.profil .conteneur .box2 p
{
    color: hsl(0,0%,50%);
    padding: 0 10px 0 30px;
    font-size: 13px;
    max-width: 400px;
    max-height: auto;
    text-align: justify;
}

.profil .conteneur .box2 .mon-cv li
{
  list-style-type: none;
  background-color: hsl(250,69%,61%);
  margin: 9% 8%;
  border-radius: 0.5rem;
  width: 100px;
  height: 40px;
  padding-top: 8px;
}

.profil .conteneur .box2 .mon-cv li a
{
  list-style-type: none;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
/* PROFIL FIN */


/* PROJETS DEBUT */
.projets
{
  background-color: hsl(250, 69%, 95%);
  height: auto;
  padding: 10px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.projets .conteneur
{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.projets .conteneur .box1
{
  background-color: white;
  border-radius: 1rem;
  width: 30%;
  height: auto;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.projets .conteneur .box2
{
  background-color: white; 
  border-radius: 1rem;
  width: 30%;
  height: auto;
  margin-left: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.projets .conteneur .box1 p
{
  color: hsl(0,0%,50%);
}

.projets .conteneur .box2 p
{
  color: hsl(0,0%,50%);
}

.projets .conteneur .box1 li a
{
  color: white;

}



.projets .conteneur .box2 li a
{
  color: white;
}

.projets .conteneur .box1 li a
{
  color: white;

}

.projets .conteneur .box1 li 
{
  background-color: hsl(250,69%,61%);
  border-radius: 0.5rem;
  width: 80px;
  height: 30px;
  padding: 4px;
  margin-inline: auto;
  font-size: 14px;
}

.projets .conteneur .box2 li 
{
  background-color: hsl(250,69%,61%);
  border-radius: 0.5rem;
  width: 80px;
  height: 30px;
  padding-top: 4px;
  margin-inline: auto;
  font-size: 14px;
}

.projets .conteneur .box1 img
{
  margin-inline: auto;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.projets .conteneur .box2 img
{
  margin-inline: auto;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.projets .conteneur .box1 p
{
  font-size: 13px;
  padding-bottom: 5px;
}

.projets .conteneur .box2 p
{
  font-size: 13px;
  padding-bottom: 5px;
}
/* PROJETS FIN */


/* COMPETENCES DEBUT */
.competences .conteneur
{
  display: flex;
  justify-content: center;
}

.competences
{
  margin-top: 20px;
  margin-bottom: 15px;
}

.competences .conteneur .box{
  width: 29.5%;
  padding: 25px 30px;
  background: #fff;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
  border-radius: 1rem;
  margin: 10px 10px 20px 10px;
}

.box .bar
{
  margin: 20px 0;
}

.box .bar:first-child
{
  margin-top: 0px;
}

.box .bar .txt
{
  margin-bottom: 5px;
}

.box .bar .txt span
{
  font-size: 11px;
  animation: showText 0.5s 1s linear forwards;
}

.box .bar .txt span i
{
  font-size: 13px;
  animation: showText 0.5s 1s linear forwards;
}

.box .bar .ligne
{
  height: 10px;
  width: 100%;
  background: hsl(250,69%,61%);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate 
{
  100%{
    transform: scaleX(1);
  }
}
/* COMPETENCES FIN */


/* FORMATION DEBUT */
.formation 
{
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
  background-color: hsl(251, 100%, 98%);
  padding-top: 20px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 20px;
}

.container 
{
	width: 60%;
	height: auto;
	margin: auto 0;
	position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}

.container ul 
{
	list-style: none;
}

.container ul::after
{
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: hsl(250,69%,61%);
}

.container ul li 
{
	width: 50%;
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 100;
}

.container ul li:nth-child(4) 
{
	margin-bottom: 0;
}

.container ul li .circle 
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: hsl(250,69%,61%);
	top: 0;
	display: grid;
	place-items: center;
}

ul li:nth-child(odd) .circle 
{
	transform: translate(50%, -50%);
	right: -30px;
}

ul li:nth-child(even) .circle 
{
	transform: translate(-50%, -50%);
	left: -30px;
}

ul li .h1-infos
{
	position: absolute;
	width: 130px;
	height: 33px;
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 12px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
  background-color: hsl(250,69%,61%);
}

.container ul li:nth-child(odd) 
{
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}

ul li:nth-child(odd) .h1-infos 
{
	right: 20px;
}

.container ul li:nth-child(even) 
{
	float: right;
	clear: left;
	transform: translateX(30px);
}

ul li .h2-infos 
{
	font-size: 13px;
  justify-content: center;
}

ul li p
{
	font-size: 12px;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
/* FORMATION FIN */


/* ME CONTACTER DEBUT */
.me-contacter
{
  padding: 10px;
}

.me-contacter .box
{
  display: flex;
  justify-content: center;
}

.me-contacter .box .icon
{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 20px;
}

.me-contacter .box .icon span
{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.me-contacter .box .icon span i
{
  line-height: 60px;
  font-size: 25px;
}

.me-contacter .box .icon span a
{
  color: hsl(250,69%,61%);
}

.me-contacter .box .icon span a:hover
{
  color: black;
}


.me-contacter .ulcenter
{
  text-align: center;
}

.me-contacter ul
{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me-contacter ul li
{
  margin-top: 10px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
  width: 65%;
  text-align: center;
  height: 60px;
  padding-top: 10px;
}

.me-contacter ul li i
{
  position: absolute;
  left: 19%;
  padding-top: 14px;
  color :hsl(250,69%,61%);
}

.me-contacter ul li p
{
  color: rgb(85, 82, 82);
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}
/* ME CONTACTER FIN */


/* BAS DE PAGE DEBUT */
footer
{
  background: hsl(250,69%,61%);
  font-family: "Open Sans";
  padding-top: 30px;
  color: white;
  margin-top: 20px;
}

.footer-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3
{
  font-size: px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p
{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 13px;
}

.reseaux
{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.reseaux li
{
  margin: 0 10px;
}

.reseaux a
{
  text-decoration: none;
  color: #fff;
}

.reseaux a i
{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.reseaux a:hover i
{
  color: black;
}

.lien-bas
{
  background: hsl(250,69%,61%);
  padding: 20px 0;
  text-align: center;
}

.lien-bas a p
{
  font-weight: 500;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #181c24;
}

.ligne-fine-footer
{
  background-color: #000;
  height: 1px;
  opacity: 0.1;
}
/* BAS DE PAGE FIN */


/* JEU DEBUT */
#jeu
{
  margin-bottom: 20px;
  margin-top: 20px;
}

.header .banniere 
{
  text-align: center;
  margin : 20px;
}

.header .banniere img
{
  width: 95%;
  background-color: hsl(0,0%,86%);;
  border-radius: 1rem;
}

.header .conteneur
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.header .conteneur .box1 img
{
    width: 75%;
    border-radius: 0.5rem;
    margin-left: 50px;
}

.header .conteneur .box2 p
{
    color: hsl(0,0%,50%);
    font-size: 13px;
    max-width: 75%;
    max-height: auto;
    text-align: justify;
    margin: 0 10px 0 0;
}

.telechargements .dl .box li
{
  list-style-type: none;
  background-color: hsl(250,69%,61%);
  border-radius: 0.5rem;
  width: 50%;
  height: 40px;
  padding-top: 8px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  
}

.telechargements .dl .box li a
{
  list-style-type: none;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 14px;
  
}

.telechargements .dl .box li a:hover
{
  color: black;
}

.telechargements .dl .box li i
{
  color: white;
  position: absolute;
  left: 26%;
  margin-top: 5px;
}

.telechargements .dl .box li i:hover
{
  color: #000;
}
/* JEU FIN */

/* RESPONNSIVE MOBILE DEBUT */
@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 20px;
  }
}
@media (max-width: 1087px) {

nav .logo a
{
  color:hsl(250,69%,61%);
  font-size: 24px;
  font-weight: 600;
}

nav .menu-btn i
{
  display: block;
}

#click:checked ~ .menu-btn i:before
{
  content: "\f00d";
}

nav ul
{
  position: absolute;
  top: 80px;
  left: -100%;
  height: 100%;
  width: 90%;
  text-align: center;
  display: block;
  transition: 1s;
  background-color: hsl(250, 58%, 90%);
  z-index: 100;
  border-bottom-right-radius: 1rem;
}

#click:checked ~ ul
{
  left: 0;
}

nav ul li
{
  width: 100%;
  margin: 30px 0;
}

nav ul li a
{
  width: 100%;
  margin-left: -100%;
  display: block;
  font-size: 15px;
  text-align: left;
}

#click:checked ~ ul li a
{
  margin-left: 0px;
}

nav ul li a:hover
{
  color: #111;
  background-color: white;
}

.profil .conteneur .box1
{
padding-left: 0px;
}

.profil .conteneur .box1
{
padding-right: 0px;
}

.profil .conteneur .box1 img
{
  width: 150px;
  background-color: hsl(0,0%,86%);
  border-radius: 0.5rem;
}

.profil .conteneur .box2 p
{
  color: hsl(0,0%,50%);
  padding: 0 10px 0 30px;
  font-size: 10px;
  max-width: 400px;
  max-height: auto;
  text-align: justify;
}

.profil .conteneur .box2 .mon-cv li
{
  list-style-type: none;
  background-color: hsl(250,69%,61%);
  margin: 8% 14%;
  border-radius: 0.4rem;
  width: 80px;
  height: 30px;
  padding-top: 3px;
}

.profil .conteneur .box2 .mon-cv li a
{
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

  .projets .conteneur .box1
{
  background-color: white;
  border-radius: 1rem;
  width: 35%;
  height: auto;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.projets .conteneur .box2
{
  background-color: white; 
  border-radius: 1rem;
  width: 35%;
  height: auto;
  margin-left: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.competences .conteneur .box{
  width: 40%;
  padding: 25px 30px;
  background: #fff;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
  border-radius: 1rem;
  margin: 10px 10px 20px 10px;
}

.box .bar .txt span{
  font-size: 10px;
  animation: showText 0.5s 1s linear forwards;
}

ul li .h1-infos {
  position: absolute;
  width: 105px;
  height: 33px;
  border-radius: 15px;
  top: -45px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 11px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
  background-color: hsl(250,69%,61%);
}

  
#jeu .header .conteneur
{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

#jeu .header .conteneur .box1 img
{
    width: 80%;
    border-radius: 0.5rem;
    margin: auto;
}

#jeu .header .conteneur .box2 p
{
    color: hsl(0,0%,50%);
    font-size: 13px;
    max-height: auto;
    text-align: justify;
    margin: auto;
}
}
/* RESPONNSIVE MOBILE FIN */
