@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* MENU DEBUT */
nav .logo a
{
    color: hsl(250,69%,61%);
    font-size: 30px;
    font-weight: 600;
}

nav
{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #FFF;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px 0 100px;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
}

nav ul li a
{
    margin: 0 5px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 2rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active, nav ul li a:hover 
{
    background-color: hsl(250, 69%, 95%);
}

a.cv-latex
{
    color: #FFF;
    background-color: hsl(250,69%,61%);
}

.ligne-fine-menu
{
    background-color: black;
    height: 1px;
    opacity: 0.1;
}
/* MENU FIN */


/* TITRE INFOS DEBUT */
.titre-infos
{
  text-align: center;
}

.titre-infos h3
{
  font-size: 18px;
  margin-bottom: 5px;
}

.titre-infos p
{
  font-size: 13px;
}

.titre-infos p a
{
  color: black;
}
/* TITRE INFOS FIN */


/* PROFIL DEBUT */
.profil
{
  margin-top: 20px;
}

.profil .conteneur{
    display: flex;  
    text-align: center;
    justify-content: center;
    padding: 30px 10px 0px 10px;
}

.profil .conteneur .box1
{
  padding-left: 20px;
}

.profil .conteneur .box1
{
  padding-right: 20px;
}

.profil .conteneur .box1 img
{
    width: 200px;
    background-color: hsl(0,0%,86%);
    border-radius: 0.5rem;
    padding: 5px;
}

.profil .conteneur .box2 p
{
    color: hsl(0,0%,50%);
    padding: 0 10px 0 30px;
    font-size: 13px;
    max-width: 400px;
    max-height: auto;
    text-align: justify;
}

.profil .conteneur .box2 .mon-cv li
{
  list-style-type: none;
  background-color: hsl(250,69%,61%);
  margin: 9% 8%;
  border-radius: 0.5rem;
  width: 100px;
  height: 40px;
  padding-top: 8px;
}

.profil .conteneur .box2 .mon-cv li a
{
  list-style-type: none;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
/* PROFIL FIN */

/* PROJETS DEBUT */
.projets
{
  background-color: hsl(250, 69%, 95%);
  height: auto;
  padding: 10px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.projets .conteneur
{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.projets .conteneur .box1
{
  background-color: white;
  border-radius: 1rem;
  width: 30%;
  height: auto;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.projets .conteneur .box2
{
  background-color: white; 
  border-radius: 1rem;
  width: 30%;
  height: auto;
  margin-left: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.projets .conteneur .box1 p
{
  color: hsl(0,0%,50%);
}

.projets .conteneur .box2 p
{
  color: hsl(0,0%,50%);
}

.projets .conteneur .box1 li a
{
  color: white;

}

.projets .conteneur .box2 li a
{
  color: white;
}

.projets .conteneur .box1 li 
{
  background-color: hsl(250,69%,61%);
  border-radius: 0.5rem;
  width: 80px;
  height: 30px;
  padding: 4px;
  margin-inline: auto;
  font-size: 14px;
}

.projets .conteneur .box2 li 
{
  background-color: hsl(250,69%,61%);
  border-radius: 0.5rem;
  width: 80px;
  height: 30px;
  padding-top: 4px;
  margin-inline: auto;
  font-size: 14px;
}

.projets .conteneur .box1 img
{
  margin-inline: auto;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.projets .conteneur .box2 img
{
  margin-inline: auto;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.projets .conteneur .box1 p
{
  font-size: 13px;
  padding-bottom: 5px;
}

.projets .conteneur .box2 p
{
  font-size: 13px;
  padding-bottom: 5px;
}
/* PROJETS FIN */