@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* MENU DEBUT */
nav .logo a
{
    color: hsl(250,69%,61%);
    font-size: 30px;
    font-weight: 600;
}

nav
{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #FFF;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px 0 100px;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
}

nav ul li a
{
    margin: 0 5px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 2rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active, nav ul li a:hover 
{
    background-color: hsl(250, 69%, 95%);
}

a.cv-latex
{
    color: #FFF;
    background-color: hsl(250,69%,61%);
}

.ligne-fine-menu
{
    background-color: black;
    height: 1px;
    opacity: 0.1;
}
/* MENU FIN */